@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #fff;
  font-family: "Press Start 2P", cursive;
  background-image: url(../img/types_bg.png);
}

.pokemon {
  width: 150px;
  height: auto;
}
